{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Merchant Name</th>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Category Type</th>
        
        <th scope="col">Amount</th>
      </tr>
    </thead>
    {% for d in data %}
    <tbody>

        
      <tr>
        <td>{{d.merchant_name}}</td>
        
        <td>{{d.date}}</td>
        
        <td>{{d.category[0]}}</td>
        <td>{{d.category[1]}}</td>
        <td>${{ d.amount }}</td>
    
        
        
        
      </tr>
    </tbody>
    {% endfor %}
  </table>




{% endblock %}
