


<form action="" method="post" novalidate>
{{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}

              {{ message }}

        {% endfor %}
        {% endif %}
        {% endwith %}

                  <h3>Sign Up</h3>




                         {{ form.email.label }}
                        {{ form.email }}



 {{ form.username.label }}
                        {{ form.username }}


{{ form.password.label(class="form-label") }}

                        {{ form.password(class="form-control form-control-lg") }}






                    {{ form.submit}}


</form>
