.profile-page-container {
  min-height: 100vh;
}
.profile-page-profile-page {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.profile-page-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
  border-color: transparent;
}
.profile-page-text {
  top: 49px;
  left: 255px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-line1 {
  top: 0px;
  left: 228px;
  width: 1024px;
  height: 0px;
  position: absolute;
}
.profile-page-search-icon {
  top: 57px;
  left: 1346px;
  width: 20.29354476928711px;
  height: 24.27862548828125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profile-page-ellipse1 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.profile-page-line3 {
  top: 17px;
  left: 15px;
  width: 9px;
  height: 0px;
  position: absolute;
}
.profile-page-image8 {
  top: 21px;
  left: 31px;
  width: 146px;
  height: 99px;
  position: absolute;
  border-color: transparent;
}
.profile-page-text02 {
  top: 279px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text04 {
  top: 349px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text06 {
  top: 419px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text08 {
  top: 209px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-line2stroke {
  top: 530px;
  left: 40px;
  width: 96px;
  height: 1px;
  position: absolute;
}
.profile-page-text10 {
  top: 489px;
  left: 40px;
  color: rgba(0, 52, 189, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-rectangle31 {
  top: 120px;
  left: 267px;
  width: 1142px;
  height: 958px;
  position: absolute;
  border-color: transparent;
  border-radius: 55px;
}
.profile-page-logon-button {
  top: 631px;
  left: 300px;
  width: 277px;
  height: 65px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(106, 105, 248, 1);
}
.profile-page-text12 {
  top: 17px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-page-logon-button1 {
  top: 719px;
  left: 300px;
  width: 277px;
  height: 65px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(178, 28, 28, 1);
}
.profile-page-text14 {
  top: 18px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-page-line6 {
  top: 855.1290283203125px;
  left: 606px;
  width: 558px;
  height: 0px;
  position: absolute;
}
.profile-page-ellipse5 {
  top: 158px;
  left: 303px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.profile-page-text16 {
  top: 358px;
  left: 1254px;
  color: rgba(255, 255, 255, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text18 {
  top: 495px;
  left: 1254px;
  color: rgba(255, 255, 255, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text20 {
  top: 677px;
  left: 1254px;
  color: rgba(218, 51, 51, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-image12 {
  top: 291px;
  left: 1290px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.profile-page-text22 {
  top: 190px;
  left: 424px;
  color: rgba(255, 255, 255, 1);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-line5 {
  top: 855.1290283203125px;
  left: 1220px;
  width: 558px;
  height: 0px;
  position: absolute;
}
.profile-page-text24 {
  top: 186px;
  left: 1265px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text26 {
  top: 289px;
  left: 279px;
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text28 {
  top: 289px;
  left: 626px;
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-rectangle22 {
  top: 328px;
  left: 296px;
  width: 256px;
  height: 428px;
  position: absolute;
  border-color: transparent;
}
.profile-page-text30 {
  top: 348px;
  left: 316px;
  color: rgba(255, 255, 255, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text32 {
  top: 404px;
  left: 370px;
  color: rgba(255, 255, 255, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text34 {
  top: 468px;
  left: 370px;
  color: rgba(255, 255, 255, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text36 {
  top: 534px;
  left: 370px;
  color: rgba(255, 255, 255, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-frame3d-switch {
  top: 398px;
  left: 285px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody1 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody2 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.profile-page-switch {
  top: 3.8888888359069824px;
  left: 3.4000000953674316px;
  width: 24px;
  height: 27.22222137451172px;
  display: flex;
  position: absolute;
  box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-ellipse11 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.profile-page-frame3d-switch1 {
  top: 462px;
  left: 285px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody3 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody4 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody5 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.profile-page-switch1 {
  top: 3.8888888359069824px;
  left: 3.4000000953674316px;
  width: 24px;
  height: 27.22222137451172px;
  display: flex;
  position: absolute;
  box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-ellipse12 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.profile-page-frame3d-switch2 {
  top: 530px;
  left: 285px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody6 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody7 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-switchbody8 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 35px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.profile-page-switch2 {
  top: 3.8888888359069824px;
  left: 3.4000000953674316px;
  width: 24px;
  height: 27.22222137451172px;
  display: flex;
  position: absolute;
  box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.profile-page-ellipse13 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.profile-page-ellipse6 {
  top: 272px;
  left: 1148px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.profile-page-ellipse7 {
  top: 272px;
  left: 536px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.profile-page-rectangle24 {
  top: 363px;
  left: 632px;
  width: 513px;
  height: 164px;
  position: absolute;
}
.profile-page-rectangle25 {
  top: 554px;
  left: 632px;
  width: 513px;
  height: 54px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.profile-page-rectangle27 {
  top: 722px;
  left: 632px;
  width: 513px;
  height: 59px;
  position: absolute;
}
.profile-page-text38 {
  top: 364px;
  left: 652px;
  color: rgba(251, 251, 251, 1);
  width: 474px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text40 {
  top: 564px;
  left: 652px;
  color: rgba(255, 255, 255, 1);
  width: 487px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-rectangle26 {
  top: 635px;
  left: 632px;
  width: 513px;
  height: 59px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.profile-page-text42 {
  top: 651px;
  left: 652px;
  color: rgba(255, 255, 255, 1);
  width: 451px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-text44 {
  top: 738px;
  left: 654px;
  color: rgba(255, 255, 255, 1);
  width: 451px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page-ellipse8 {
  top: 406px;
  left: 1271px;
  width: 95px;
  height: 70px;
  position: absolute;
  border-color: transparent;
}
.profile-page-ellipse9 {
  top: 585px;
  left: 1279px;
  width: 67px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.profile-page-rectangle30 {
  top: 41px;
  left: 891px;
  width: 428px;
  height: 55px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.profile-page-text46 {
  top: 16px;
  left: 916px;
  color: rgba(0, 0, 0, 0.28999999165534973);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
